body{
  background:#333;
  color:white;
}

.box{
  width:500px;
  height:500px;
  background:black;
  position:relative;
}

.point{
  width:5px;
  height:5px;
  background:red;
  position:absolute;
}
